* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    background: #333;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    overflow: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    height: 70px;
    
}

#navbar ul {
    display: flex;
}

#navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

#navbar a:hover {
    border-bottom: #F58600 2px solid;
}

.logo {
    align-items: flex-start; 
}

h1 .logo :hover {
    cursor: pointer;
}

.top {
    height: 50vh;
}

.bottom {
    background: #333;
    height: 50vh;
}