* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    /* background: #333; */
    background: #192235;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    overflow: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    height: 70px;
    opacity: 0.8;
    z-index: 1;
}

#navbar ul {
    display: flex;
}

#navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

#navbar a:hover {
    /* border-bottom: #F58600 2px solid; */
    border-bottom: #D01A43 2px solid;
}

.logo {
    align-items: flex-start; 
    font-size: 40px;
}

.logo span {
    margin-right: 10px;
}

.main-header {
    background: url('img/street.jfif') no-repeat center center/cover;
    position: relative;
    height: 100vh;
    /* color: #D01A43; */
    color: #fff;
}

.main-header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.main-header .content h1 {
    font-size: 100px;
}

.main-header .content p {
    font-size: 30px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero * {
    z-index: 10;
}

#main-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #192235;
    color: #fff;
    height: 70px;
    padding: 20px;
    align-items: center;
}


